/* The sidebar menu */

@keyframes slideIn {
    0%{transform: translateX(-100%);}
    25%{transform: translateX(-75%);}
    50%{transform: translateX(-50%);}
    75%{transform: translateX(-25%);}
    100%{transform: translateX(0%);}
}

body {
    background-color: #081C15;
    cursor: pointer;
}

.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40%;
    font-family: 'Roboto', sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: grey;
    display: block;
  }
  
  .sidenav a:hover {
    color: #52B788;
    transform: translateY(-10px);
  }
  
  /*TODO: Add reactivity to the body as well
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 700px) {
    .sidenav a {font-size: 18px;}
    .mainDiv {margin-left: 80px;}
  }

.mainDiv {
    padding: 0px 10px;
}

.nameBox {
    animation-name: slideIn;
    animation-duration: .4s;
    animation-timing-function: ease-in-out;
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: xx-large;
    color: white;
}

.titleBox {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: #52B788;
    margin-left: 80px;
}

.descriptionBox {
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-left: 80px;
}

.divTitle {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
    color: #52B788;
    width: 25%;
}

#expTitle:hover{
    transform: translateY(-10px);
}

#pubTitle:hover{
    transform: translateY(-10px);
}

.expContainer {
    padding-top: 5%;
    margin: 0 auto;
    margin-left: 80px;
}

.experience {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.pubContainer {
    padding-top: 2%;
    margin: 0 auto;
    width: 40%;
    margin-left: 80px;
}

.pubs {
    font-family: 'Roboto', sans-serif;
    color: white;
}