/* The sidebar menu */

@keyframes slideIn {
    0%{transform: translateX(-100%);}
    25%{transform: translateX(-75%);}
    50%{transform: translateX(-50%);}
    75%{transform: translateX(-25%);}
    100%{transform: translateX(0%);}
}

@keyframes moveUp {
    0%{transform: translatey(0px);}
    25%{transform: translatey(-2px);}
    50%{transform: translatey(-5px);}
    75%{transform: translatey(-7px);}
    100%{transform: translatey(-15px);}
}

body {
    background-color: #eeeeee;
    cursor: pointer;
}

.container {
    position: absolute;
    bottom: 40%;
    left: 70%;
    transform: translate(-75%, -75%);
}

.cup {
    position: absolute;
    width: 280px;
    height: 295px;
    box-sizing: border-box;
    border: 7px solid black;
    border-radius: 10px 10px 40px 40px;
    background-color: #eeeeee;
    overflow: hidden;
}

.cup::before {
  content: "";
  position: absolute;
  top: 115px;
  left: -80px;
  width: 500px;
  height: 500px;
  background-color: #dc9456;
  border-radius: 200px;
  animation: coffee 7s linear infinite;
}

.handle {
  position: absolute;
  top: 60px;
  left: 273px;
  width: 80px;
  height: 125px;
  background: transparent;
  box-sizing: border-box;
  border: 7px solid black;
  border-radius: 0 10px 75px 10px;
}

.dish {
  position: absolute;
  content: "";
  width: 400px;
  height: 5px;
  background-color: black;
  top: 290px;
  left: -60px;
}


@keyframes coffee {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

.topnav {
    background-color: #eeeeee;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #f67290;
    color: white;
  }

.parent {
    margin: 0 auto;
    text-align: center;
}

.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40%;
    font-family: 'Poppins', sans-serif;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #f8b195;
    display: block;
  }
  
  .sidenav a:hover {
    color: #52B788;
    transform: translateY(-10px);
  }
  
  /*TODO: Add reactivity to the body as well
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 700px) {
    .sidenav a {font-size: 18px;}
    .mainDiv {margin-left: 80px;}
  }

.nameBox {
    animation-timing-function: ease-in-out;
    margin: 0 auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    color: black;
}

.titleBox {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    color: black;
    text-align: center;
}

.desContainer {
    margin: 0 auto;
    text-align: center;
}

.descriptionBox {
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
    border: 1px solid #f67290;
    width: fit-content;
    padding-left: 40px;
    padding-right: 40px;
    background-color: #f67290;
    box-shadow: 10px 10px #f8b195;
}

.divTitle {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: x-large;
    color: black;
    width: fit-content;
    border-bottom: 3px solid #f67290;
}

.expContainer {
    margin: 0 auto;
    margin-top: 100px;
    margin-left: 150px;
    font-weight: 300;
}

.experience {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
}

.pubContainer {
    padding-top: 2%;
    margin: 0 auto;
    width: 40%;
    margin-left: 150px;
}

.pubs {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: black;
}

.secondDiv {
    width: 100%;
    height: 500px;
    background-color: #dddddd;
}