/* The sidebar menu */
.sidenav {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 40%;
    font-family: 'Roboto', sans-serif;
    background-color: #D2B48C;
    border-right: 2px solid black;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /*TODO: Add reactivity to the body as well
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-width: 700px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .mainDiv {margin-left: 80px;}
  }

.mainDiv {
    padding: 0px 10px;
}

.nameBox {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.titleBox {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.descriptionBox {
    margin: 0 auto;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.divTitle {
    font-family: 'Roboto', sans-serif;
    font-size: x-large;
}

.expContainer {
    padding-top: 5%;
    margin: 0 auto;
    text-align: center;
}

.experience {
    font-family: 'Roboto', sans-serif;
}

.pubContainer {
    padding-top: 2%;
    margin: 0 auto;
    text-align: center;
    width: 40%;
}

.pubs {
    font-family: 'Roboto', sans-serif;
}